/*::::::::::::::::::::::::::::::::::::::::
::                common                ::
::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::
::           Original setting           ::
::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::
::                input                 ::
::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::
::             input radio              ::
::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::
::             input check              ::
::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::
::                select                ::
::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::
::               textarea               ::
::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::
::                button                ::
::::::::::::::::::::::::::::::::::::::::*/
/**
 * form common
 */
form {
  /* form common */
}

form *,
form *:before,
form *:after {
  box-sizing: border-box;
}

form input,
form select,
form textarea {
  border: 1px solid #a9a9a9;
  background: #d6d6d6;
  box-shadow: none;
}

form input.inText,
form select.inText,
form textarea.inText {
  background: #FFF;
}

form button {
  border: 1px solid #a9a9a9;
  background: #d6d6d6;
  box-shadow: none;
}
